@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Staatliches&display=swap');

@import "_colores";
@import "_fuentes";

*{
    padding: 0;
    margin:0;
}

$anchoimg:(
    small: 40px,
    medium: 50px,
    large:70px,
);

@each $name-ancho, $width in $anchoimg{
    .#{$name-ancho}{
        width: $width;
    }
}

body {
    background-color:$negro;
    font-family: 'Roboto', sans-serif;
    color:$blanco;
}

h2 {
    font-family: 'Staatliches', cursive;
    color:$gris;
    text-align:center;
    a{
    color:$gris;
    }
}

h3{
    @extend h2;
    color:$blanco;
}

footer {
    font-size: $xxSmall;
    align-items: center;
    text-align: center;
    padding:1%;
    background-color: $grisfooter;
    .redes{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .face{
    margin-right:1%;
    }
    .info{
    display:flex;
    flex-direction: column;
    }
}

a {
    text-decoration:none;
    color: rgb(209, 194, 194);
    &:hover{
    color:grey;
    }
}

@mixin formato ($letra, $color){
    font-size:$letra;
    color:$color;
}

@mixin margin ($left, $right){
    margin-left:$left;
    margin-right:$right;
}

.botonGris {
    @include formato (0.8rem, black);
    padding: 1.3em 3em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    margin:2%;
    cursor: pointer;
    outline: none;
    &:hover{
    background-color: grey;
    box-shadow: 0px 15px 20px rgb(214, 213, 213);
    color: #fff;
    transform: translateY(-7px);
    }
    &:active{
    transform: translateY(-1px);
    }
}

.mainContacto{
    font-size: $medium;
    padding:1%;
    text-align: center;
    form{
    background-color:$grisformulario;
    text-align: left;
    border: double white;
    display:flex;
    flex-direction: row;
    width:80%;
    @include formato ($xSmall, black);
    padding:2%;
    @include margin (12%, 12%);
    input{
    width:45%;
    margin:1%;
    }
    textarea{
    padding:2%;
    width:100%;
    }
    }
    .tituloMapa{
    margin-top:2%;
    }
    iframe{
    @include margin (5%, 5%);
    }
}

.mainPromos{
    h2{
    margin-top:2%;
    font-size:$medium;
    @media(max-width:480px){
        margin-left:5%;
    }
    }
    p{
    color:black;
    }
    .card{
        @media(max-width:480px){
        @include margin (15%, 5%)
        }
    }
}

.index{
    h2{
    margin-top:2%;
    font-size:$medium;
    }
    p{
    @include formato ($xSmall, $blanco);
    text-align: justify;
    @include margin (2%, 2%)
    }
}

.wspYPresupuesto{
    margin: 3%;
}

.mainNosotros{
    margin-top:5%;
    margin-bottom:16%;
    @include margin (5%, 5%);
    .nosotros{
    text-align: justify;
    @include formato ($xSmall, $blanco);
    background-color: $negro;
    border:solid white;
}
}

.mainPresupuesto{
    h2{
    margin-top:5%;
    font-size:$medium;
    }
    h3{
    font-size:$bSmall;
    }
    form{
    text-align: left;
    background-color:$grisformulario;
    border: double white;
    display:flex;
    flex-direction: row;
    @include formato ($xSmall, black);
    padding:2%;
    margin-bottom:5%;
    margin-left:10%;
    width:80%;
    input{
    width:40%;
    margin:1%;
    }
    textarea{
    padding:2%;
    width:100%;
    }
}
}

