@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Staatliches&display=swap");
* {
  padding: 0;
  margin: 0; }

.small {
  width: 40px; }

.medium {
  width: 50px; }

.large {
  width: 70px; }

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white; }

h2, h3 {
  font-family: 'Staatliches', cursive;
  color: slategray;
  text-align: center; }
  h2 a, h3 a {
    color: slategray; }

h3 {
  color: white; }

footer {
  font-size: 15px;
  align-items: center;
  text-align: center;
  padding: 1%;
  background-color: #111111; }

a {
  text-decoration: none;
  color: #d1c2c2; }
  a:hover {
    color: grey; }

.botonGris {
  font-size: 12px;
  color: black;
  padding: 1.3em 3em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin: 2%;
  cursor: pointer;
  outline: none; }
  .botonGris:hover {
    background-color: grey;
    box-shadow: 0px 15px 20px #d6d5d5;
    color: #fff;
    transform: translateY(-7px); }
  .botonGris:active {
    transform: translateY(-1px); }

.mainContacto {
  font-size: 2.5rem;
  padding: 1%;
  text-align: center; }
  .mainContacto form {
    background-color: #464444;
    text-align: left;
    border: double white;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    color: black;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%; }
    .mainContacto form input {
      width: 45%;
      margin: 1%; }
    .mainContacto form textarea {
      padding: 2%;
      width: 100%; }
  .mainContacto iframe {
    margin-left: 5%;
    margin-right: 5%; }

.mainPromos h2, .mainPromos h3 {
  margin-top: 2%;
  font-size: 3rem; }
  @media (max-width: 576px) {
    .mainPromos h2, .mainPromos h3 {
      margin-left: auto;
      margin-right: auto; } }

.mainPromos p {
  color: black; }

@media (max-width: 576px) {
  .mainPromos .card {
    margin-left: 15%;
    margin-right: 2%; } }

.index h2, .index h3 {
  margin-top: 2%;
  font-size: 2.5rem; }

.index p {
  font-size: 1rem;
  color: white;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%; }

.wspYPresupuesto {
  margin: 3%; }

.nosotros {
  text-align: justify;
  font-size: 1rem;
  color: white;
  margin: 2%;
  padding: 2%; }
  .nosotros h3 {
    font-size: 1.5rem;
    border: solid white; }

.mainPresupuesto {
  font-style: italic; }
  .mainPresupuesto h2, .mainPresupuesto h3 {
    margin-top: 2%;
    font-size: 2.5rem; }
  .mainPresupuesto h3 {
    font-size: 1.5rem; }
  .mainPresupuesto form {
    text-align: left;
    background-color: #464444;
    border: double white;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    color: black;
    padding: 2%;
    margin-bottom: 2%;
    margin-left: 25%;
    width: 50%; }
    .mainPresupuesto form input {
      width: 50%;
      margin: 1%; }
    .mainPresupuesto form textarea {
      padding: 2%;
      width: 100%; }
